.spongebob {
  border: 1px solid #000;
  background-color: #ffff33;
  position: relative;
  margin: 50px auto;
  width: 250px;
  height: 300px;
}
.eye1,
.eye2 {
  border: 2px solid #000;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 40px;
  width: 75px;
  height: 70px;
}
.eye2 {
  right: 50px;
}
.eye1 {
  left: 50px;
}
.eye1 .iris,
.eye2 .iris {
  border: 3px solid #000;
  border-radius: 50%;
  background-color: #fff;
  width: 20px;
  height: 20px;
  top: 20px;
  position: relative;
  background-color: #00a4c0;
}
.eye2 .iris {
  left: 12px;
}
.eye1 .iris {
  right: -35px;
}
.pupil {
  background-color: #000;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  position: absolute;
  top: 6px;
  right: 5px;
}
.nose1, .nose2 {
  position: absolute;
  width: 18px;
}
.nose1 {
  top: 90px;
  left: 113px;
  height: 22px;
  border-radius: 40% 40% 0 40%;
  border-top: 3px solid #a2b30d;
  border-left: 3px solid #a2b30d;
  background-color: #ffff33;
}
.nose2 {
  top: 91px;
  left: 114px;
  height: 30px;
  border-radius: 50% 50% 100% 50%;
  border-right: 3px solid #a2b30d;
}
.mouth {
  width: 170px;
  height: 120px;
  border-bottom: 2px solid #000;
  border-radius: 0 40% 40%;
  top: 30px;
  left: 40px;
  position: relative;
}
.cheek1,
.cheek2 {
  width: 35px;
  height: 30px;
  top: 55px;
  border-radius: 50% 50%;
  border-top: 2px solid #f90017;
  position: absolute;
}
.cheek1 {
  border-left: 2px solid #f90017;
  transform: rotate(30deg);
  left: -20px;
}
.cheek2 {
  border-right: 2px solid red;
  transform: rotate(-30deg);
  right: -20px;
}
.freckle1,
.freckle2,
.freckle3 {
  background-color: red;
  border-radius: 50%;
  position: relative;
  height: 4px;
  width: 7px;
}
.cheek1 .freckle1 {
  transform: rotate(-45deg);
  top: 12px;
  left: 1px;
}
.cheek1 .freckle2 {
  transform: rotate(-45deg);
  top: 8px;
  left: 12px;
}
.cheek1 .freckle3 {
  transform: rotate(-45deg);
  top: -6px;
  left: 12px;
}
.cheek2 .freckle1 {
  transform: rotate(45deg);
  top: 2px;
  left: 18px;
}
.cheek2 .freckle2 {
  transform: rotate(45deg);
  top: 8px;
  left: 16px;
}
.cheek2 .freckle3 {
  transform: rotate(45deg);
  top: 5px;
  left: 26px;
}
.dimple1,
.dimple2 {
  border-top: 3px solid #000;
  width: 10px;
  height: 5px;
  top: 78px;
  border-radius: 50% 50% 0 0;
  position: absolute;
}
.dimple1 {
  transform: rotate(-15deg);
  left: -4px;
}
.dimple2 {
  transform: rotate(15deg);
  right: -4px;
}
.tooth1,
.tooth2 {
  height: 14px;
  width: 18px;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  position: absolute;
  bottom: -17px;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
}
.tooth1 {
  left: 58px;
  transform: rotate(2deg);
}
.tooth2 {
  right: 58px;
  transform: rotate(-2deg);
}
.lip {
  position: relative;
  top: 150px;
  left: 70px;
  height: 12px;
  width: 30px;
  border-top: 3px solid #fd9ac6;
  border-radius: 50%;
}
.lip:before {
  position: absolute;
  top: -18px;
  left: -18px;
  content: "";
  height: 20px;
  width: 20px;
  border-bottom: 3px solid #fd9ac6;
  border-radius: 25% 50%;
}
.lip:after {
  position: absolute;
  top: -18px;
  left: 28px;
  content: "";
  height: 20px;
  width: 20px;
  border-bottom: 3px solid #fd9ac6;
  border-radius: 50% 25%;
}
